.about-us__container {
  @include page-grid;
}

.about-us__title {
  grid-column: 1/-1;
  margin: 0;

  @include on-tablet {
    grid-column: 1/3;
  }

  @include on-desktop {
    grid-column: span 6;
  }
}

.about-us__content {
  font-family: 'Space Mono', monospace;
  margin: 0;
  line-height: 120%;

  grid-column: 1/-1;

  @include on-tablet {
    grid-column: 4/7;
  }

  @include on-desktop {
    grid-column: span 6;
  }
}

.about-us__photo {
  width: 100%;
}
