.header {
  background-image: url(/src/images/header-bg.png);
  background-size: cover;
  background-position: center;

  &__content {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__bottom {
    padding-bottom: 40px;

    @include on-tablet {
      padding-bottom: 65px;
    }
  }

  &__title {
    margin: 0;
    width: 280px;
    font-weight: 700;
    font-style: bold;
    line-height: 1;
    font-size: 36px;

    @include on-tablet {
      font-size: 48px;
      width: 392px;
    }
  }
}
